@model EmailModel

<div class="d-flex flex-column justify-content-center align-content-center flex-column text-center">
    <h2 style="color:darkorange">Parabéns, @Model.Nome</h2>
    <p>
        É com grande entusiasmo que agradecemos por escolher se juntar a nós nesta emocionante jornada de aprendizado em programação. Sua inscrição foi recebida e estamos empolgados por tê-lo(a) conosco!

        Nosso compromisso é proporcionar a você uma experiência excepcional de aprendizado. Prepare-se para mergulhar em conteúdos envolventes, desafios práticos e projetos que impulsionarão suas habilidades para o próximo nível.

        Em breve, você receberá informações detalhadas sobre o curso, materiais exclusivos e acesso a uma comunidade apaixonada de aprendizes. Estamos aqui para apoiá-lo(a) em cada passo dessa jornada de transformação.

        Fique atento(a) à sua caixa de entrada, pois estaremos compartilhando recursos valiosos para enriquecer ainda mais sua experiência. Enquanto isso, conecte-se conosco nas redes sociais para fazer parte de conversas inspiradoras e receber atualizações em primeira mão.

        Agradecemos sinceramente por confiar em nós para sua jornada de aprendizado em programação. Estamos ansiosos para começar essa incrível aventura educacional juntos!

    </p>
    <div class="text-center mt-5 mb-5" style="height:350px">
        <img src="" alt="Alternate Text" style="width:100%;height:100%"/>
    </div>
</div>